## Ordinal encoding

In [1]:
import numpy as np
import pandas as pd

In [21]:
df = pd.read_csv(r"C:\Desktop\Anamika\ML0to1\Datasets\customer.csv")

In [22]:
df.sample(5)

    age  gender review education purchased
31   22  Female   Poor    School       Yes
35   74    Male   Poor    School       Yes
26   53  Female   Poor        PG        No
49   25  Female   Good        UG        No
28   48    Male   Poor    School        No

In [23]:
df = df.iloc[:,2: ]

In [24]:
df

     review education purchased
0   Average    School        No
1      Poor        UG        No
2      Good        PG        No
3      Good        PG        No
4   Average        UG        No
5   Average    School       Yes
6      Good    School        No
7      Poor    School       Yes
8   Average        UG        No
9      Good        UG       Yes
10     Good        UG       Yes
11     Good        UG       Yes
12     Poor    School        No
13  Average    School        No
14     Poor        PG       Yes
15     Poor        UG        No
16     Poor        UG       Yes
17     Poor        UG       Yes
18     Good    School        No
19     Poor        PG       Yes
20  Average    School       Yes
21  Average        PG        No
22     Poor        PG       Yes
23     Good    School        No
24  Average        PG       Yes
25     Good    School        No
26     Poor        PG        No
27     Poor        PG        No
28     Poor    School        No
29  Average        UG       Yes
30  Average        UG        No
31     Poor    School       Yes
32  Average        UG       Yes
33     Good        PG       Yes
34  Average    School        No
35     Poor    School       Yes
36     Good        UG       Yes
37  Average        PG       Yes
38     Good    School        No
39     Poor        PG        No
40     Good    School        No
41     Good        PG       Yes
42     Good        PG       Yes
43     Poor        PG        No
44  Average        UG        No
45     Poor        PG       Yes
46     Poor        PG        No
47     Good        PG       Yes
48     Good        UG       Yes
49     Good        UG        No

In [25]:
from sklearn.model_selection import train_test_split

X_train , X_test , y_train , y_test = train_test_split(df.iloc[:, 0:2], df.iloc[: , -1] , test_size= 0.2)

In [26]:
from sklearn.preprocessing import OrdinalEncoder

# Define the encoder with explicit categories
oe = OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

# Fit on training data
oe.fit(X_train)

# Transform both train and test sets
X_train = oe.transform(X_train)
X_test = oe.transform(X_test)

In [27]:
X_train

array([[2., 1.],
       [1., 1.],
       [2., 1.],
       [0., 2.],
       [1., 1.],
       [0., 0.],
       [0., 1.],
       [1., 2.],
       [1., 0.],
       [2., 0.],
       [2., 1.],
       [1., 1.],
       [0., 0.],
       [0., 0.],
       [0., 2.],
       [2., 1.],
       [1., 2.],
       [2., 0.],
       [0., 2.],
       [0., 0.],
       [0., 2.],
       [1., 0.],
       [0., 1.],
       [2., 2.],
       [2., 2.],
       [2., 0.],
       [0., 2.],
       [0., 2.],
       [1., 0.],
       [0., 2.],
       [0., 2.],
       [2., 0.],
       [2., 2.],
       [2., 0.],
       [2., 2.],
       [1., 1.],
       [2., 2.],
       [0., 1.],
       [1., 2.],
       [2., 1.]])